<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixelplus Case Study</title>
    <link rel="stylesheet" href="style.css">
   <!-- <link rel="stylesheet/less" type="text/css" href="style2.less" />-->
    
</head>
<body>
    <header class="header"><span class="headertext">Pixelplus Case Study</span></header>