<%- include('partials/_header')-%>

<div class="wrapper">
    <div class="memberCartwrapperDetail">
        <span class="memberstext mt-5">Create Member</span> 

    <form class="createdform" action="/created" method="post" >
        <input placeholder="name" name="name" type="text">
        <input placeholder="job" name="job" type="text">
        <button type="submit" class="backbtn">Create</button>
        <a href="/" class="backbtn">Back</a>
    </form>
    </div>

</div>
</div>

<%- include('partials/_footer')-%>